<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block body %}

<section id="results">
    <div class="container p-2 p-lg-3">
        <div class="text-center mb-md-4 my-3">
            <h2 class="text-center wt text-dark fw-600">All Stores</h2>
            <p class="lead text-secondary fw-500">{{count}} Results</p>
        </div>

        <div class="row g-4">

            {% for brand in all_brands %}

            <div class="col-lg-3 col-md-4 hov-trans">
                <div class="carousel-cell m-2 mx-3">
                    <a href="#">
                        <div class="item bg-white p-3 text-center shadow-sm rounded-md border brand-div">
                            <h4 class="fw-600 mb-3 wt">{{brand.name}}</h4>
                            <img src="{{brand.logo.url}}" class="img-fluid rounded-3" alt="" />
                            <h6 class="fw-500 mt-3">{{brand.tagline}}</h6>
                        </div>
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="mt-5 bg-white">
            <nav aria-label="Page navigation example" style="background-color: #f9f9f9">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">«Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">Next»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

{% endblock body %}